@model IEnumerable<SportGames.Models.Player>
@{
    ViewBag.Title = "TeamData";
}
@{
    var data = ViewBag.team;
    var data2 = ViewBag.coach;

}
<link rel="stylesheet" type="text/css" href="~/Content/Site.css">
<img class="logo" src=@data.ImgURL alt="pl" width="200" height="200">
<div class="container">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input type="text" id="Search" placeholder="Search" class="form-control" />
        </div>
    </div>
</div>

<p class="coach">
    <img class="logo" src=@data2.ImgURL width="200" height="200">
    <h3 class="coach">@data2.Name</h3>
</p>

<h3 class="shadow">List of Players</h3>

<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>


        </tr>
    }

</table>
