<html>
@{
    ViewBag.Title = "Game";
}
<body>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="~/Content/game.css">
    <canvas id="canvas" width="700" height="500">Install gentoo</canvas>
    <div id="out"></div>
    <script type="text/javascript" src="~/Content/game.js"></script>
</body>
</html>