@model IEnumerable<SportGames.Models.Team>

@{
    ViewBag.Title = "LeagueData";
}

@{ 
    var data = ViewBag.LeagueName;

}
<link rel="stylesheet" type="text/css" href="~/Content/Site.css">
<img class="logo" src=@data.ImgURL alt="pl" width="200" height="200">






<div class="container">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input type="text" id="Search" placeholder="Search" class="form-control" />
        </div>
    </div>
</div>
<p id="demo"></p>
<aside class="shadow">
    <h1><font face="Comic sans MS">Name Of Team</h1>
</aside>
<div class="aaa">
    <div class="column1 left" style="background-color:transparent;">
        @foreach (var item in Model)
        {
        <table >
            <tr class="Search" >
                <td onclick="location.href='@Url.Action("TeamData","Teams",new { id=item.TeamId})'" > @item.Name</td>
               


            </tr>
        </table>
        }
    </div>
    <div class="column1 right" style="background-color:transparent;">
        <section class="multi">
            @data.Description
        </section>
    </div>
</div>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if ($(this).text().toLowerCase().indexOf(searchText) == -1) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
            
            
        });

    });
</script>




