@model IEnumerable<SportGames.Models.Team>

@{
    ViewBag.Title = "LeagueData";
}

@{ 
    var data = ViewBag.LeagueName;

}
<link rel="stylesheet" type="text/css" href="~/Content/Site.css">
<img class="logo" src=@data.ImgURL alt="pl" width="200" height="200">




<aside class="shadow">
  <h1>Name Of Team</h1>
</aside>


<div class="aaa">
    <div class="column1 left" style="background-color:transparent;">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <aside class="aside">
                        @Html.DisplayFor(modelItem => item.Name)
                    </aside>
                </td>


            </tr>
        }
    </div>
    <div class="column1 right" style="background-color:transparent;">
        <section class="multi">
            @data.Description
        </section>
    </div>
</div>
   




